<div class="menu" (click)="opened = !opened">
  {{ selectedValue }}
</div>
<!-- <div class="items" [class.hidden]="!opened">
    <div>Rouge</div>
    <div>Vert</div>
    <div>Blue</div>
</div> -->
<!-- <div class="items" [ngClass]="{hidden: !opened}">
    <div>Rouge</div>
    <div>Vert</div>
    <div>Blue</div>
</div> -->

<div class="items" *ngIf="opened">
  <div *ngFor="let val of values" (click)="selectedValue = val; opened = false">
    {{ val }}
  </div>
</div>

<!-- <ng-template [ngIf]="opened">
    <div class="items">
        <div>Rouge</div>
        <div>Vert</div>
        <div>Blue</div>
    </div>
</ng-template> -->
