<div class="menu" (click)="opened = !opened">
  {{ selectedValue }}
</div>
<!-- <div class="items" [class.hidden]="!opened">
    <div>Rouge</div>
    <div>Vert</div>
    <div>Blue</div>
</div> -->
<!-- <div class="items" [ngClass]="{hidden: !opened}">
    <div>Rouge</div>
    <div>Vert</div>
    <div>Blue</div>
</div> -->

<div class="items" *ngIf="opened">
  <div
    class="item"
    [class.selected]="val === selectedValue"
    *ngFor="let val of values"
    (click)="handleSelection(val)"
  >
    <ng-template #defaultTplItem>
      {{ val }}
    </ng-template>

    <ng-template
      [ngTemplateOutlet]="tplItem || defaultTplItem"
      [ngTemplateOutletContext]="{ elt: val }"
    >
    </ng-template>
  </div>
</div>

<!-- <ng-template [ngIf]="opened">
    <div class="items">
        <div>Rouge</div>
        <div>Vert</div>
        <div>Blue</div>
    </div>
</ng-template> -->

<!-- <ng-template #defaultLabelTemplate>
  <span class="ng-value-icon left" (click)="unselect(item);" aria-hidden="true">×</span>
  <span class="ng-value-label" [ngItemLabel]="item.label" [escape]="escapeHTML"></span>
</ng-template>

<ng-template
  [ngTemplateOutlet]="labelTemplate || defaultLabelTemplate"
  [ngTemplateOutletContext]="{ item: item.value, clear: clearItem, label: item.label }">
</ng-template> -->
