<app-hello name="Toto"></app-hello>
<app-hello [name]="selectedPrenom"></app-hello>

<!-- <app-select (selectedValueChange)="selectedPrenom = $event" [values]="prenoms" [selectedValue]="selectedPrenom"></app-select> -->
<app-select [values]="prenoms" [(selectedValue)]="selectedPrenom"></app-select>

<app-todolist></app-todolist>

<p>Délai : <input [(ngModel)]="delay" /></p>
<app-button (click)="showClock = !showClock">
  {{
  showClock ? 'Off' : 'On'
}}
</app-button>
<app-clock format="HH:mm:ss" [delay]="delay" *ngIf="showClock"></app-clock>

<app-select [values]="prenoms" [(selectedValue)]="selectedPrenom">
  <ng-template #tplItem let-item="elt">
    -- {{ item.toUpperCase() }} --
  </ng-template>
</app-select>

<h2>NG SELECT</h2>
<ng-select [items]="prenoms" [clearable]="false" [(ngModel)]="selectedPrenom"></ng-select>



<ng-select>
  <ng-option>Rouge</ng-option>
  <ng-option>Vert</ng-option>
  <ng-option>Bleu</ng-option>
</ng-select>


<h2>FORMS</h2>

<h3>Template driven</h3>
<app-hello-template-driven-form></app-hello-template-driven-form>

<h3>Reactive</h3>
<app-hello-reactive-form></app-hello-reactive-form>